@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Cormorant Garamond", serif;
}
img {
  width: 100%;
  object-fit: cover;
}
/* header */
.header_footer {
  background-color: #f2f2f2;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
}
.header-header {
  display: flex;
  justify-content: space-between;
}
.group_logo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.logo {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: 400;
}
.search-box {
  border-bottom: 1px solid #696969;
  display: flex;
}
.search-box:hover {
  cursor: text;
  border-bottom-width: 2px;
}

.search-input {
  flex: 1;
  border: none;
  background-color: #f2f2f2;
}
.search-input:focus {
  border: none;
  outline: none;
}
.icon1:focus {
  border: none;
  outline: none;
}
.icon1 {
  border: none;
  background: none;
  color: #717171;
  font-weight: 200;
}
.group_list {
  display: flex;
  gap: 20px;
}
.nav_header {
  color: #717171;
}
.header-center__user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #fff;
  background-color: #b9d7d9;
  border: none;
  cursor: pointer;
}

.header-center__user:hover .header-center__list {
  opacity: 1;
  visibility: visible;
}

.header-center__user:hover .header-center__list::after {
  display: block;
}

.header-center__list {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  right: 0;
  top: calc(100% + 5px);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.header-center__list::after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
  bottom: 98%;
  right: 6px;
  display: none;
}

.header-center__item {
  color: #000 !important;
  padding: 6px 10px;
}

.header-center__item:hover {
  text-decoration: none;
  color: #b9d7d9 !important;
  background-color: #f9f9f9;
}
.banner {
  background-image: url(../../img/banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 80px;
}
.slider {
  min-height: 70vh;
}
.slider-content {
  color: #f2f2f2;
  font-size: 20px;
  padding-bottom: 120px;
}
.slider-content h1 {
  font-size: 70px;
  font-weight: 700;
}
.text {
  color: #8c8c8c;
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
}
.text p {
  margin-bottom: 0;
}
.body-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.body-nav_list {
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 20px 0;
}
.body-nav_travel {
  background-image: url(../../img/travel.webp);
}
.body-nav_eat {
  background-image: url(../../img/eat.webp);
}
.body-nav_relax {
  background-image: url(../../img/relax.webp);
}
.body-nav_ {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #2573da;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  width: 150px;
  padding: 5px 0;
}
.body-nav_:hover {
  color: #fff;
  background-color: #2573da;
  cursor: pointer;
  transition: 1s;
  transform: scale(4.55);
}
.body-nav {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 15px;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  gap: 70px;
  padding: 40px 0;
  margin: 40px 0;
}
.gach {
  border-left: 1px solid #3d3d3d;
  min-height: 40px;
  margin-left: 10px;
}
.body-nav_travelblog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  line-height: 25px;
}
.body-nav_travelblog span {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}
.plane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.plane i {
  transform: rotate(215deg);
}
.plane_text {
  font-weight: 300;
  font-size: 25px;
  display: flex;
  gap: 0;
  font-family: "Roboto Slab", serif;
}
.plane_text span {
  font-weight: 700;
}
.world_travel {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 25px;
  font-family: "Roboto Slab", serif;
}
.sky_cloud {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: flex-end;
}
.sky_cloud_text {
  font-size: 25px;
}
/* status */

.status {
  border: 1px solid #f5f5f5;
  margin-bottom: 40px;
}
.status-content {
  padding: 25px 40px;
}
.status-content:hover .content_title {
  color: #3f83de;
}
.status-content-author {
  display: flex;
  gap: 10px;
}
.status-content-author-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #fff;
  background-color: #b9d7d9;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.content_content:hover {
  color: #3f83de;
  cursor: pointer;
}
.content_title {
  padding: 10px 0;
  font-size: 25px;
  font-weight: 400;
}
.content_content {
  padding-bottom: 10px;
  border-bottom: 1.5px solid #ccc;
}
.interactive {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.view-comment {
  display: flex;
  align-items: center;
  gap: 20px;
}
